nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
}
a{
    text-decoration: none;
    width: 7rem;
    height: 2.5rem;
    background-color: grey;
    border-radius: 5px;
    text-align: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: grey;
    width: 550px;
    position: relative;
    left:470px;
    top:20px
}
.btn{
    width: 7rem;
    height: 1.5rem;
    cursor: pointer;
    position: relative;
    left: 60px;
}
.bmitext{
    text-decoration: underline;
}